.razorYellow {
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 48px;
  overflow: hidden;
  background: url(../../../assets/cyberpunk/images/razor-yellow.svg);
}

.razorBlack {
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 48px;
  overflow: hidden;
  background: url(../../../assets/cyberpunk/images/razor-black.svg);
}