@import "../../variables";

.subTitle {
    margin: 0 auto;
  display: block;
  width: 550px;
  font-size: 22px;
  color: $black;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 94px;
}