@import "../variables";

.container {
  background: $yellow;
  padding-bottom: 100px;
}

.divider {
  padding-top: 64px;
  span {
    display: block;
    width: 100%;
    height: 48px;
    overflow: hidden;
    background: url(/src/assets/cyberpunk/images/razor-black.svg);
  }
  span:last-child {
    transform: rotate(180deg);
  }

}

.content {
  width: 1000px;
  margin: 0 auto;
}

.projectsListTitle {
    color: $white;
    font-size: 40px;
    margin-bottom: 32px;
    position: relative;
    padding: 12px 8px;
      letter-spacing: 0.2em;
}

.projectsListTitleCommercial {
  text-align: left;
  padding-left: 32px;
  clip-path: polygon(0% calc(100% - 32px), 32px 100%, calc(100% - 12px) 100%, 100% calc(100% - 12px), 100% 32px, calc(100% - 32px) 0%, 12px 0%, 0% 12px);
  background: $red;
}

.projectsListTitleOwn {
  clip-path: polygon(32px 0%, 0% 32px, 0% calc(100% - 12px), 12px 100%, calc(100% - 32px) 100%, 100% calc(100% - 32px), 100% 12px, calc(100% - 12px) 0%);
  background: $light-blue;
  text-align: right;
  padding-right: 32px;
  transform: translate(31px, 0px);
}

.projectsList {
  width: 60%;
  position: relative;
}

.commercialProjects {
  padding-left: 72px;
}

.ownProjects {
  display: flex;
  justify-content: flex-end;
  padding-right: 72px;
  margin-top: 64px;
}

.projectsListCommercial {
  padding-left: 32px;
}

.projectsListItem {
  width: 100%;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $red;
  clip-path: polygon(0% calc(100% - 12px), 12px 100%, calc(100% - 42px) 100%, 100% calc(100% - 42px), 100% 12px, calc(100% - 12px) 0%, 12px 0%, 0% 12px);
  position: relative;
}

.projectsListItemOwn {
  clip-path: polygon(0% calc(100% - 42px), 42px 100%, calc(100% - 13px) 100%, 100% calc(100% - 12px), 100% 12px, calc(100% - 12px) 0%, 12px 0%, 0% 12px);
  background: $light-blue;
  text-align: right !important;
}

.projectsListItemContent {
  padding: 16px;
  width: 100%;
  height: 100%;
  background: $black;
  clip-path: inherit;
}

.projectText {
  color: $white;
  padding-bottom: 16px;
}

.projectTitle {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.projectDescription {
  text-align: justify;
  line-height: 1.4em;
}

.ownProjectLink {
  text-align: right;
}