@import "../variables";

.container {
    background: url(../../../assets/cyberpunk/images/hero.jpg);
    background-size: cover;
    height: calc(100vh - 150px);
    position: relative;
  &::before {
    background-image: url(../../../assets/cyberpunk/images/dots-top.png),url(../../../assets/cyberpunk/images/dots-bottom.png);
    background-position: 20px 20px,20px calc(100% - 20px);
    background-repeat: repeat-x,repeat-x;
    content: "";
    display: block;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0,0,0, .8);
  }
}

.title {
  font-weight: 600;
  font-size: 112px;
  color: $white;
      left: 50%;
    position: absolute;
    text-align: center;
    top: 60%;
    transform: translate(-50%,-50%);
    width: 100%;
    z-index: 3;
}

.image {
  font-weight: 600;
  font-size: 112px;
  color: #ffffff;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 3;
  object-fit: cover;
}

.razorYellow {
  position: absolute;
  bottom: -3px;
  width: 100%;
  overflow: hidden;
}